html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  background: white;
}

#wrapper {
  background-color: silver;
  border: 3px solid #8189a7;
  width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 8px 8px #999;
}

.top {
  width: 100%;
  margin: 0;
  height: 200px;
  position: relative;
}

.temperature {
  border: 3px solid #8189a7;
  border-radius: 13px;
  height: 115px;
  width: 40%;
  margin: 0 auto;
  padding-top: 35px;
  margin-top: 20px;
  background-color: white;
}

.temperature span {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 4px 4px 20px #000;
  font-family: Helvetica;
}

.temp-range {
  font-size: 1em !important;
  margin-top: 20px !important;
}

.button {
  border: 1px solid black;
  border-radius: 18px;
  cursor: pointer;
  width: 70px;
  height: 32px;
  color: #cccccc;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  box-shadow: 0 5px #999;
  border: 1px solid #808080;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30));
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  color: yellow;
}

.button:focus {
  outline: none;
}

.top-buttons {
  display: inline-block;
  position: absolute;
  top: 42px;
  right: 37px;
}

.button-up {
  display: block;
  margin-bottom: 7px;
}

.bottom {
  text-align: center;
}

.low {
  color: green;
}

.medium {
  color: black;
}

.high {
  color: red;
}
